<% layout("layouts/boilerplate") %>
<div class="container">
  <div class="row gx-5 gy-5">
    <% for (let country of countryData){ %>
    <div class="col-xl-3">
      <a href="/<%= country.name.official %>">
        <div class="card w-100">
          <img
            src="<%= country.flags.png %>"
            class="card-img-top"
            alt="flag of <%= country.name.common %>"
          />
          <div class="card-body">
            <h5 class="card-title"><%= country.name.common %></h5>
            <p class="card-text mb-0">
              <span class="card-categories">Population</span>: <%=
              country.population.toLocaleString() %>
            </p>
            <p class="card-text mb-0">
              <span class="card-categories">Region</span>: <%= country.region %>
            </p>
            <p class="card-text mb-0">
              <span class="card-categories">Capital</span>: <%= country.capital
              %>
            </p>
          </div>
        </div>
      </a>
    </div>
    <% } %>
  </div>
</div>
