<% layout("layouts/boilerplate") %>
<div class="container">
  <div class="row">
    <div class="col search-wrapper">
      <label for="search">Search Countries</label>
      <input type="search" id="search" data-search />
    </div>
  </div>
  <div class="row gx-5 gy-5">
    <% for (let country of countryData){ %>
    <div class="country-box col-xl-3">
      <a href="/<%= country.name.official %>">
        <div class="card w-100">
          <img
            src="<%= country.flags.png %>"
            class="card-img-top"
            alt="flag of <%= country.name.common %>"
          />
          <div class="card-body">
            <h5 class="card-title"><%= country.name.common %></h5>
            <p class="card-text mb-0">
              <span class="fw-600">Population</span>: <%=
              country.population.toLocaleString() %>
            </p>
            <p class="card-text mb-0">
              <span class="fw-600">Region</span>: <%= country.region %>
            </p>
            <p class="card-text mb-0">
              <span class="fw-600">Capital</span>: <%= country.capital %>
            </p>
          </div>
        </div>
      </a>
    </div>
    <% } %>
  </div>
</div>
<script src="/javascripts/search.js"></script>
