<% layout("layouts/boilerplate") %>
<div class="container">
  <div class="row mb-5">
    <div class="col search-wrapper">
      <label for="search" hidden>Search Countries</label>
      <input
        class="search-bar p-3"
        type="search"
        id="search"
        placeholder="Search for a country..."
        data-search
      />
    </div>
  </div>
  <div class="row justify-content-center gx-5 gy-5">
    <% for (let country of countryData){ %>
    <div class="country-box col-9 col-xl-3">
      <a href="/<%= country.name.official %>">
        <div class="card w-100">
          <img
            src="<%= country.flags.png %>"
            class="card-img-top"
            alt="flag of <%= country.name.common %>"
          />
          <div class="card-body">
            <h5 class="card-title"><%= country.name.common %></h5>
            <p class="card-text mb-0">
              <span class="fw-600">Population</span>: <%=
              country.population.toLocaleString() %>
            </p>
            <p class="card-text mb-0">
              <span class="fw-600">Region</span>: <%= country.region %>
            </p>
            <p class="card-text mb-0">
              <span class="fw-600">Capital</span>: <%= country.capital %>
            </p>
          </div>
        </div>
      </a>
    </div>
    <% } %>
  </div>
</div>
<script src="/javascripts/search.js"></script>
