<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    name:<%= country.name.official %> <br />population<%= country.population %>
    <br />region: <%= country.region %> <br />
    subregion: <%= country.subregion %> <br />
    capital:<%= country.capital %> <br />
    tld:<%= country.tld[0] %> <br />
    currency:<%= Object.values(country.currencies)[0].name %> <br />
    languages: <% for (const language of Object.values(country.languages)) { %>
    <%= language %> <% } %>
  </body>
</html>
